*{
    margin: auto 0;
}
/* navigation bar */
.nav-bar{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color: rgb(47,38,38);
    color: white;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list > li{
    padding: 0% 10%;
}
.nav-list > li > a{
    text-decoration: none;
    color: white;
}
.nav-list > li > a:hover{
    color: rgb(94, 120, 179);
}
/* Picture inside */
.content-picture{
    height: 90vh;
    background-image: url(https://cdn.britannica.com/65/162465-050-9CDA9BC9/Alps-Switzerland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgba(220, 24, 29,0.9);
    font-weight: 900;
    letter-spacing: 1vw;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.content{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 50%;
    justify-content: space-evenly;
}
.content > .content-picture-1 >  span{
    border: 5px solid rgba(253, 239, 240, 0.6);
    padding: 1vw;
}
.content > .content-picture-1 >  span:hover{
    color: rgb(253, 239, 240);
}
.btn-content{
    width: 25%;
    text-align: center;
    padding: 2vh;
    position: relative;
    left: 35%;
    border-radius: 3rem;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
    background-color: rgba(220, 24, 29,0.7);
    color: rgba(253, 239, 240, 0.85);
}
.btn-content:hover{
    cursor: pointer;
    color:rgba(220, 24, 29,0.7);
    background-color: rgba(253, 239, 240, 0.85);
}
/* ANIMATION ROOT */
.animate__fadeInRight, .animate__fadeInLeft{
    animation-duration: 2s !important;
}
hr{
    border-width: 2vh 0px; 
}
/* TAB ICON INFOR */
.icon-infor{
    height: 50%;
}
.icon-infor-1, .icon-infor-2{
    display: flex;
    height: 30vh;
    justify-content: space-evenly;
}
.infor-1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* justify-content: space-around; */
    align-items: center;
    background-color: rgba(	230, 230, 230, 0.3);
}
.infor-1 > i{
    font-size: 2.5rem;
    color: rgba(220, 24, 29,0.9);
}
.infor-1 > p{
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
    font-family: 'Heebo', sans-serif;
    margin: 0;
}
.first-infor{
    font-weight: 700;
    text-transform: uppercase !important;
}
.first-infor:hover{
    cursor: pointer;
    color: rgba(220, 24, 29,0.7);
}
/* MAIN FEEDBACK TITLE */
.main-title{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Dancing Script', cursive;
    color: rgba(168, 57, 61, 1);
    padding-top: 5%;
}
/* FEEDBACK */
.feedback{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    /* background-color: rgba(165, 192, 222, 0.8); */
    padding-top: 5%;
}
.feed-back-1, .feed-back-2, .feed-back-3{
    width: 20%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
}
.feed-back-1 > p, .feed-back-2 > p, .feed-back-3 > p{
    text-align: center;
    font-size: 0.7rem;
    font-family: 'Catamaran', sans-serif;
}
.feed-back-1 > p:last-child, .feed-back-2 > p:last-child, .feed-back-3 > p:last-child{
    text-align: justify;
    padding-top: 10%;
}
.title{
    padding-top: 5%;
    font-family: 'Roboto Mono', monospace !important;
    letter-spacing: 1px;
    font-size: 1rem !important;
    color: rgba(168, 57, 61, 1);
}
.feed-back-1 > img, .feed-back-2 > img, .feed-back-3 > img{
    border-radius: 50%;
    width: 100%;  
    transition: all 4s;  
    transition-timing-function: ease-in-out;
}
.feed-back-1 > img:hover, .feed-back-2 > img:hover, .feed-back-3 > img:hover{
    transform: rotate(360deg);
}
/* TITLE DESTINATIONS */
.title-destination{
    text-align: center;
    padding: 2%;
    background-color: rgba(165, 192, 222, 0.8);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(220, 24, 29,0.7);
}
.destination-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 500px; */
    margin: 5% 5%;
    background-color: rgba(182, 178, 87, 0.4);
}
.des-content{
    width: 25%;
    padding-top: 2%;
}
.des-content > p{
    text-align: center;
    padding: 15% 0; 
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Actor', sans-serif;
    color: rgba(220, 24, 29,0.9);
    font-weight: 600;
}
.des-content > p:hover{
    cursor: pointer;
    color: rgba(253, 239, 240, 0.85);
}
.destination-content > .des-content > img{
    width: 100%;
    /* margin-left: auto;
    margin-right: auto;
    border-radius: 50%; */
    border-radius: 50%;
    cursor: zoom-in;
    transition: all 2s;
}
.destination-content > .des-content > img:hover{
    border-radius: 0;
    box-shadow: 5px 5px 5px 5px #888888;
}
/* SUBTITLE */
.sub-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: rgba(165, 192, 222, 0.8);
    padding: 2%;
    color: rgba(220, 24, 29,0.9);
}
/* SUBSCRIPTION BOX */
.Subscribe-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Padauk', sans-serif;
    text-transform: uppercase;
    /* background-color: rgba(220, 24, 29,0.5); */
    margin: 5% 5%;
    background-image: url(https://www.expatica.com/app/uploads/sites/9/2014/05/family-reunification-switzerland-1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
form > ::placeholder{
    color: rgba(0,0,0, 0.7);
    font-weight: 600;
}
.sub-form > form{
    line-height: 200%;
}
.sub-form > form > p, .sub-form > form > .gender > p{
    text-align: justify;
    color: rgba(220, 24, 29,1);
    font-weight: 700;
}
.sub-form > form > input{
    padding: 2%;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 2%;
    font-size: 0.9rem;
    text-align: center;
    background: none;
    border-width: 3px;
    border-color: white;
}
.gender{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register{
    color: black;
    width: 50% !important;
    border: 2px solid rgba(220, 24, 29,0.9) !important;
    background-color: rgba(253, 239, 240, 0.6) !important;
    font-size: 1.2rem !important;
    border-radius: 2rem !important;
    text-transform: uppercase;
}   
.register:hover{
    background-color: rgba(220, 24, 29,0.7) !important;
    border-color: rgba(0,0,0, 0.7) !important;
    color: rgba(253, 239, 240, 0.85) !important;
    cursor: pointer;
}
/* COPYRIGHT */
.copyright{
    background-color: rgb(47,38,38);
    height: 200px;
    color: white;
    /* margin: 5% 5% 0% 5%; */
}
.copyright-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    font-size: 1.5rem;
}
.copyright-1 > p{
    letter-spacing: 2px;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}
.copyright-1 > ul{
    display: flex;
    list-style: none;
    padding: 3%;
    background-color: rgba(253, 239, 240, 0.85);
}
.copyright-1 > ul > li > a{
    padding: 1rem;
    text-decoration: none;
    color: rgb(221, 50, 56);
}
.copyright-content{
    padding: 1%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    line-height: 20px;
}
.copyright-content > p{
    text-align: center;
}
.copyright-content > .container-content{
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
}
.copyright-content > .container-content > input{
    background-color: rgb(47,38,38);
    border-bottom-color: rgba(220, 24, 29,0.9);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5%;
    width: 50%;
    color: white;
}
.container-content > ::placeholder{
    color: white;
}
.copyright-content > .container-content > button{
    padding: 3% 5%;
    border-radius: 0.5rem;
    background-color: rgba(220, 24, 29,0.9);
    color: white;
    border: none;
}
.copyright-content > .container-content > button:hover{
    background-color: rgba(253, 239, 240, 0.85);
    color: rgba(220, 24, 29,0.9);
    cursor: pointer;
}
/* AUTHOR */
.title-author{
    text-align: center;
    font-size: 2rem;
    background-color: rgba(	230, 230, 230, 0.5);
    padding: 2%;
    text-transform: uppercase;
    font-family: 'Questrial', sans-serif;
}
.author{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0% 5%;
}
.picture-author{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.picture-author2{
    width: 45%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.picture-author > p, .picture-author2 > p{
    font-size: 0.8rem;
    font-family: 'Catamaran', sans-serif;
}
.picture-author > img, .picture-author2 > img{
    width: 45%;
    border-radius: 20%;
    padding: 5% 5%;
}
@media screen and (max-width: 720px)
{

    /* FIX NAVBAR */
    .nav-bar{
        font-size: 0.5em;
        letter-spacing: 1px;
    }
    .nav-list > li{
        padding: 0% 5%;
    }
    /* FIX PICTURE INSIDE */
    .content-picture{
        /* font-size: 50px; */
        font-size: 15px;
        height: 50vh;
    }
    .btn-content{
        font-size: 0.5rem;
        width: 30%;
        border-radius: 1.5rem;
    }
    /* FIX INFOR MIDDLE */
    .infor-1{
        justify-content: flex-start;
    }
    .infor-1 > i{
        font-size: 1.5rem;
    }
    .infor-1 > p{
        font-size: 0.4rem;
    }
    .icon-infor-1, .icon-infor-2{
        height: 15vh;
    }
    /* FIX MAIN TITLE FEEDBACK */
    .main-title{
        font-size: 1rem;
        height: 10vh;
    }
    /* FIX FEEDBACK */
    .feedback{
        height: 60vh;
    }
    .feed-back-1 > p, .feed-back-2 > p, .feed-back-3 > p{
        font-size: 0.2rem;
    }
    .title{
        font-size: 0.5rem !important;
        letter-spacing: 1px;
    }
    /* FIX DESTINATION TITLE */
    .title-destination{
        font-size: 1.2rem;
    }
    /* FIX DESTINATION SITE */
    .des-content > p{
        font-size: 1rem;
    }
    /* FIX FORM */
    .sub-title{
        font-size: 1rem;
    }
    .sub-form > form > p, .sub-form > form > .gender > p{
        font-size: 0.7rem;
    }
    /* FIX FOOTER */
    .copyright-content{
        line-height: 18px;
        font-size: 0.4rem;
    }
    .copyright-1{
        font-size: 0.8rem;
    }
    .copyright-1 > ul{
        padding: 5% 0% 5% 0%;
    }
    .copyright-1 > p{
        letter-spacing: 1px;
        font-size: 0.5rem;
    }
    .copyright-content > .container-content{
        font-size: 0.7rem;
    }
    .copyright-content > .container-content > input{
        padding: 2%;
    }
    /* FIX AUTHOR */
    .title-author{
        font-size: 1.2rem;
    }
    .picture-author > p, .picture-author2 > p{
        font-size: 0.3rem;
        text-align: justify;
        font-family: 'Catamaran', sans-serif;
        padding: 20% 0%;
    }
}